
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  </head>

  <body>


<h2>Stupid Coaching</h2>

<div class="question">
<p1><%=@question%></p1>
<p>-You</p>

</div>

<br>
<br>

<div class="answer">

  <p1><strong><%=@answer%></strong></p1>
  <p>-Your coach</p>
</div>

<p><%= link_to "Ask a new question", ask_path %></p>

 </body>
</html>
